:root {
  --main-color: #2e2f42; /*navy*/
  --descr-color: #434455; /*slate*/
  --iris-color: #4d5ae5;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background: #fff;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.logo {
  color: var(--iris-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.part-logo {
  color: var(--main-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-link {
  position: relative;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--iris-color);
}

.nav-link.active::before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--iris-color);
  position: absolute;
  bottom: -32px;
}

.address-wrap {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--descr-color);
  font-style: normal;
  display: block;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--iris-color);
}

.hero {
  background: var(--grey, rgba(46, 47, 66, 0.7));
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 500px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  background-color: var(--iris-color);
  border-radius: 4px;
  border: transparent;

  color: #fff;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: inherit;
  display: block;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  margin: 0 auto;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.item-title {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.item-text {
  color: var(--descr-color);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* -----ABOUT----- */
.about-list {
  display: flex;
  gap: 24px;
}

.about-item {
  width: 264px;
}

.about-element-icon {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* -----WE DO----- */
.we-do-list {
  display: flex;
  gap: 24px;
}

/* -----TEAM----- */
.team {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-info-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.team-item h3 {
  text-align: center;
}

.team-item p {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item:hover,
.team-social-item:focus {
  background-color: #404bbf;
}

.team-social-icon {
  display: block;
}

/* -----CUSTOMERS----- */

.customer-list {
  display: flex;
  gap: 24px;
}

.customer-link {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}
/* 
.customer-link:hover .customer-icon, .customer-item:focus .customer-icon{
  fill:#404BBF;
} */

/* -----FOOTER----- */
.footer {
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.end-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  max-width: 264px;
  margin-top: 16px;
}

.footer-first-list {
  margin-right: 120px;
}

.footer-second-list {
  margin-right: 80px;
}

.footer-title {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: #31d0aa;
}

.footer-forth-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  display: block;
  height: 40px;
  width: 264px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-btn {
  display: block;
  padding: 8px 24px;
  height: 40px;
}

/* -----MODAL----- */
.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 408px;
  min-height: 600px;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 24px;
  top: 24px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms linear, color 300ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  color: #fff;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.modal-send-btn {
  min-width: 170px;
}

/* ----------------------------PORTFOLIO------------------------ */
.section-portfolio {
  padding-top: 96px;
}
.filtr-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.filtr-item {
  justify-content: center;
  align-items: center;
}

.filtr-link {
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: #f4f4fd;
  padding: 12px 24px;
  color: var(--iris-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-link:hover,
.filtr-link:focus {
  color: #fff;
  background: #404bbf;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  /* width: calc((100%-48px) / 3); */
  width: 360px;
  border: 1px solid #e7e9fc;
  background: #fff;
}

.portfolio-desc-wrap {
  overflow: hidden;
  position: relative;
}

.portfolio-item-desc {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  background: linear-gradient(0deg, #4d5ae5 0%, #4d5ae5 100%),
    lightgray -25.026px 0px / 125% 100% no-repeat;
  padding: 40px 32px;

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.portfolio-item:hover .portfolio-item-desc,
.portfolio-item:focus .portfolio-item-desc {
  transform: translateY(0);
}

.portfolio-text-wrap {
  width: 360px;
  padding: 32px 16px;
}
